/* Reset de estilos básicos para todos os elementos */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.menu img {
  max-width: 80%; /* A imagem se ajustará automaticamente à largura do seu contêiner */
  height: auto; /* A altura será ajustada proporcionalmente */
  border-radius: 40%;
  border: 3px solid #e18739;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  margin-top: -30px;
  margin-left: 20px;
  max-height: auto;
}

/* Estilos para a imagem */
.logo img {
  width: 100px;
  height: 100px;
  border-radius: 40%;  
  border: 3px solid #e18739;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
  object-fit: cover;
  margin-top: -30px;
  margin-left: 20px;
}

/* Estilos para o menu */
.menu {
  width: 250px;
  height: 100%;
  padding-top: 70px;
  position: fixed;
  top: 0;
  left: 0;
  background: #575451;
  box-shadow: 5px 0 5px  #e18739;
  padding-right: 20px;
  padding-left: 20px;
  overflow-y: auto;
}

/* Estilos para os itens do menu */
.menu ul{
  padding-top: 10%;
    list-style: none;
}
.menu ul ul {
  display: none;
  top: 0;
  left: 100%;
}

.menu ul li {
  position: relative;
  padding: 10px;
  line-height: 40px;
}

.menu ul li a {
  display: block;
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  padding-left: 20px;
  position: sticky;
  transition: color 0.3s; /* Adiciona transição suave na cor do texto */
}
.menu ul li a:hover {
  text-decoration: underline;
  font-weight: bold;
  color: #e18739; /* Altera a cor ao passar o mouse */
}
/* Estilos para o conteúdo */
.conteudo {
  width: calc(100% - 300px); /* A largura do conteúdo será o tamanho total menos a largura do menu */
  height: 90%;
  padding-left: 3%;
  padding-right: 3%;
  padding-top:3%;
  position: absolute;
  right: 0;
  background: #ffffff;
  box-shadow: 0 0 0px rgba(243, 4, 4, 0.2);
   
}
.conteudo section{
  flex-direction: column;
  
}
.GraficoBarra, .GraficoRosquinha {
  flex: 0 0 calc(50% - 10px); /* Dois gráficos por linha */
  margin-bottom: 20px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  padding: 20px;
  border-radius: 10px;
  margin-right: 20px; /* Espaçamento entre os gráficos na direção horizontal */
}
.graficos{
  padding: 10px;
  display: flex;  
}
/* .GraficoBarra{
  flex: 0 0 calc(30% - 10px);
  margin-bottom: 20px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  padding: 20px;
  border-radius: 10px;
}
.GraficoRosquinha{
  flex: 0 0 calc(30% - 10px);
  margin-bottom: 20px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  padding: 20px;
  border-radius: 10px;
}
.graficos{
  display: flex;
  flex-wrap: wrap;
} */

.main-content {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.personal-data {
  margin-bottom: 20px;
  /* Estilos para a seção de dados pessoais */
}

.data-table {
  margin-bottom: 20px;
  /* Estilos para a seção da tabela de dados */
}
