/*  vh = ocpia todo o espaço da tela 
    px = ocupa o tamanho definido
    
    Para pegar determinados itens do css precisamo usar a seguinte ideia 
        #tabela{
            color:red;
        }   
    para pegar uma determinada classe precisamos usar a seguinte
        .classe{
            color:red;
        }
    Neste exemplo, apenas os elementos <p> com class="center" serão vermelhos e alinhados ao centro: 
        p.center {
            text-align: center;
            color: red;
        }
    Neste exemplo, o elemento <p> será estilizado de acordo com class="center" e class="large": 
        <p class="center large">This paragraph refers to two classes.</p>
    
    A regra CSS abaixo afetará todos os elementos HTML da página: 
        * {
        text-align: center;
        color: blue;
        }

    Neste exemplo agrupamos os seletores do código acima: 
        h1, h2, p {
        text-align: center;
        color: red;
        }
    
 */
 header{
    position: fixed;
    top: 0%;
    left: 20%;
    width: 100%;
 }
 .pesquisa-bar{
    border: 1px solid red;
}
.menu{
    width: 15%;
    height: 100vh;
    padding-left: 5%;
    padding-top: 5%;
    border: 1px solid black;
    position: fixed;
}
.conteudo{
    width:45vh;
    height: 100vh;
    padding-left: 100vh;
    padding-top: 100px;
    position: fixed;
    border: 1px solid blue;
    

}
 










  
  