<p style="margin: 9.1px; padding: 0 0 15px; font: 13px/16.5px Verdana, Geneva, sans-serif; color: #0d0d0d;"> </p>
<div style="max-width: 500px; margin: 0 auto; border: 1px solid #ccc; padding: 20px;">
<div style="text-align: center;"><img style="max-width: 133px;" src="https://api.drmais.com.br/public/estabelecimento/1.png?time=1672774675" alt="Logo Dr+ online"></div>
<div style="margin: 20px 0;">
<p>Prezado(a) {% for user in ticket.requesters.users %}{{ user.fullname }}{% endfor %},</p>
<p>Sua solicitação foi concluída. Por favor, verifique todas as informações antes de encerrar o chamado.</p>
<p>Caso você precise de algum atendimento, pedimos que abra um novo chamado e aprove o chamado.</p>
<p>Atenciosamente,</p>
<div style="font-size: 15.6px; font-weight: 600; color: #f2a71b;">{% for user in ticket.assignees.users %} {{ user.fullname }} {% endfor %}</div>
</div>
<div style="display: flex; align-items: center; margin: 20px 0;">
<div style="margin-right: 5px;"><a style="text-decoration: none; color: #0d0d0d;" href="tel:(62) 3142-6219">(62) 3142-6219</a></div>
<a style="text-decoration: none; color: #0d0d0d;" href="https://wa.me/556231426219/"> <img src="https://api.drmais.com.br/public/pessoa_fisica_anexo/53.png" alt="WhatsApp" width="18"> </a></div>
<div style="margin-top: 8px;"><a style="text-decoration: none;" href="https://twitter.com/DrMais_com_br"><img src="https://api.drmais.com.br/public/pessoa_fisica_anexo/48.png" alt="Twitter" width="21"></a> <a style="text-decoration: none;" href="https://www.facebook.com/DrMais.com.br"><img src="https://api.drmais.com.br/public/pessoa_fisica_anexo/49.png" alt="Facebook" width="21"></a> <a style="text-decoration: none;" href="https://www.instagram.com/drmais_online"><img src="https://api.drmais.com.br/public/pessoa_fisica_anexo/50.png" alt="Instagram" width="21"></a> <a style="text-decoration: none;" href="https://www.tiktok.com/@drmaisonline"><img src="https://api.drmais.com.br/public/pessoa_fisica_anexo/51.png" alt="TikTok" width="21"></a> <a style="text-decoration: none;" href="https://www.youtube.com/@drmais"><img src="https://api.drmais.com.br/public/pessoa_fisica_anexo/52.png" alt="YouTube" width="21"></a></div>
</div>