#legendTable {
  background-color: #e18739;
  color: #fff;
  padding: 5px 10px;
  border-radius: 3px;
  font-weight: bold;
  box-shadow: none;
}

#FieldseTable {
  flex-wrap: nowrap;
  padding: 20px;
  padding-bottom: 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
  margin-top: 10px;
  position: relative;
  width: 100%;
  box-sizing: border-box;
  gap: 10px;
}

#tabelaProdutos {
  width: 100%;
  border-collapse: collapse;
}

#tabelaProdutos th, #tabelaProdutos td {
  border: 1px solid #ddd;
  padding: 5px;
  text-align: center;
}

#tabelaProdutos th {
  background-color: #e18739;
  color: #fff;
}

.tabela-corpo {
  display: block;
  max-height: 300px; /* Altura máxima de 300px para aproximadamente 15 linhas */
  overflow-y: auto;
}

#tabelaProdutos {
  width: 100%;
  border-collapse: collapse;
}

#tabelaProdutos th, #tabelaProdutos td {
  border: 1px solid #ddd;
  padding: 5px;
  text-align: center;
  overflow-y: auto;
}

#tabelaProdutos th {
  background-color: #e18739;
  color: #fff;
}

.itemlimit {
  background-color: hsl(28, 74%, 55%);
  color: #fff;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  margin-top: 10px;
  align-self: flex-start;
  width: auto;
  white-space: nowrap;
}
.table-wrapper {
  max-width: 100%;
  overflow-x: auto; /* Permite rolagem horizontal */
}

#tabelaProdutos {
  width: 100%;
  border-collapse: collapse;
}

#tabelaProdutos th, #tabelaProdutos td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.toggle-menu {
  position: absolute;
  top: -12px;
  right: 4px;
  background-color: #e18739;
  color: white;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 5px;
}

.column-selector {
  position: absolute;
  top: 20px;
  right: 4px;
  background-color: white;
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 1;
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Organiza as opções em duas colunas */
  gap: 10px;
}

.column-selector label {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.column-selector input {
  margin-right: 8px;
}