fieldset {
    display: flex;
    flex-wrap: wrap; /* Permite que os elementos se quebrem para a linha de baixo se necessário */
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 5px;
    margin-top: 10px;
    position: relative;
    width: 100%;
    box-sizing: border-box;
    gap: 10px; /* Espaço entre os campos */
}
fieldset legend {
    background-color: #e18739;
    color: #fff;
    padding: 5px 10px;
    border-radius: 3px;
    font-weight: bold;
    box-shadow: none;
}
.field-group {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; /* Espaço entre os campos e o botão */
}

.input-cpf {
    flex: 1 1 45%; /* Ajusta a largura do campo CPF */
}

input[type="text"],
input[type="number"],
input[type="date"] {
  
    padding: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}

button {
    background-color: hsl(28, 74%, 55%);
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    margin-left: 10px; /* Espaço entre o campo e o botão */
    align-self: flex-start;
    width: auto;
    white-space: nowrap; /* Evita que o texto do botão quebre para a linha de baixo */
}

button:hover {
    background-color: #d17131;
    transform: scale(1.05);
}
