#formularioAdicionar {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 5px;
    margin-top: 10px;
    position: relative;
    width: 100%;
    box-sizing: border-box;
    gap: 10px; /* Espaço entre as divs */
}

#legendsearch{
    background-color: #e18739;
    color: #fff;
    padding: 5px 10px;
    border-radius: 3px;
    font-weight: bold;
    box-shadow: none;
}

.field-group {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; /* Espaço entre os campos e o botão */
}

/* Estilo para todas as divs de campo */
.field-group > div {
    flex: 1 1 200px; /* Largura mínima de 200px, flexível para ocupar o espaço disponível */
    max-width: 100%; /* Limita a largura máxima ao tamanho da linha */
    box-sizing: border-box; /* Inclui padding e border no cálculo da largura */
}

/* Estilo geral para os inputs */
input[type="text"],
input[type="number"],
input[type="date"],
#selectstatusprod,
#MoneyInput {
    width: 100%; /* Garante que o input ocupe a largura total da div */
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}

#buttonsearch {
    background-color: hsl(28, 74%, 55%);
    color: #fff;
    padding: 12px 20px;
    margin-top: 17px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    align-self: flex-start;
    white-space: nowrap; /* Evita que o texto do botão quebre para a linha de baixo */
}

button:hover {
    background-color: #d17131;
    transform: scale(1.05);
}

