<p style="margin: 9.1px; padding: 0 0 15px; font: 13px/16.5px Verdana, Geneva, sans-serif; color: #0d0d0d;">
    Prezado(a) {% for user in ticket.requesters.users %}{{ user.fullname}}{% endfor %}.
  </p>
  <p style="margin: 9.1px; padding: 0 0 15px; font: 13px/16.5px Verdana, Geneva, sans-serif; color: #0d0d0d;">
    Sua solicitação de relatório foi concluída. Segue o número do relatório: [].
  </p>
  <p style="margin: 9.1px; padding: 0 0 15px; font: 13px/16.5px Verdana, Geneva, sans-serif; color: #0d0d0d;">
    Anexamos um exemplo para sua referência. Caso tenha alguma dúvida ou precise solicitar alguma alteração, por favor, crie um novo chamado para que possamos realizar as devidas modificações.
  </p>
  <p style="margin: 9.1px; padding: 0 0 15px; font: 13px/16.5px Verdana, Geneva, sans-serif; color: #0d0d0d;">
    Atenciosamente,
  </p>
  <div>
    <table style="border-collapse: collapse; font-size: 13px;" width="500" cellpadding="0">
      <tbody>
        <tr>
          <td style="margin: 0.1px; padding: 0;">
            <table style="border-collapse: collapse;" cellpadding="0">
              <tbody>
                <tr>
                  <td style="margin: 0.1px; padding: 0;" valign="top">
                    <img style="display: block;" src="https://api.drmais.com.br/public/estabelecimento/1.png?time=1672774675" alt="Logo Dr+ online" width="133">
                  </td>
                  <td style="margin: 0.1px; padding: 0 0 0 18px; font: 13px/16.5px Verdana, Geneva, sans-serif; color: #000001;" valign="top">
                    <table style="border-collapse: collapse; width: 100.215%; height: 146.594px;" cellpadding="0">
                      <tbody>
                        <tr style="height: 40.5938px;">
                          <td style="margin: 0.1px; padding: 0px; font: 15.6px / 19.8px Verdana, Geneva, sans-serif; color: rgb(0, 0, 1); width: 99.7853%; height: 40.5938px;">
                            <span style="font-weight: 600; color: #f2a71b;">
                              {% for user in ticket.assignees.users %}{{ user.fullname}}{% endfor %}
                            </span>
                          </td>
                        </tr>
                        <tr style="height: 10px;">
                          <td style="margin: 0.1px; padding: 0px; font: 15.6px / 19.8px Verdana, Geneva, sans-serif; color: rgb(0, 0, 1); width: 99.7853%; height: 10px;">
                            <span style="font: 13px/16.5px Verdana, Geneva, sans-serif; color: #0d0d0d;"> </span>
                          </td>
                        </tr>
                        <tr style="height: 22.5px;">
                          <td style="margin: 0.1px; padding: 0px 0px 5px; font: 13px / 16.5px Verdana, Geneva, sans-serif; color: rgb(0, 0, 1); width: 99.7853%; height: 22.5px;">
                            <span style="color: #0d0d0d;">Suporte</span>
                          </td>
                        </tr>
                        <tr style="height: 20px;">
                          <td style="margin: 0px; padding: 0px; font: 13px / 16.5px Verdana, Geneva, sans-serif; color: rgb(0, 0, 1); display: flex; width: 99.7853%; height: 20px;">
                            <a style="color: #0d0d0d; text-decoration: none; font-family: Verdana, Geneva, sans-serif;" href="tel:(62) 3142-6219" rel="noopener">(62) 3142-6219</a>
                            <a style="color: #0d0d0d; text-decoration: none; font-family: Verdana, Geneva, sans-serif; padding-left: 5px;" href="https://wa.me/556231426219/" rel="noopener">
                              <img style="display: block;" src="https://api.drmais.com.br/public/pessoa_fisica_anexo/53.png" alt="WhatsApp" width="18">
                            </a>
                          </td>
                        </tr>
                        <tr style="height: 21.5px;">
                          <td style="margin: 0.1px; padding: 2px 0px; font: 13px / 16.5px Verdana, Geneva, sans-serif; color: rgb(0, 0, 1); width: 99.7853%; height: 21.5px;">
                            <a style="color: #0d0d0d; text-decoration: none; font-family: Verdana, Geneva, sans-serif;" href="https://www.drmais.com.br/" rel="noopener">www.drmais.com.br</a>
                          </td>
                        </tr>
                        <tr style="height: 32px;">
                          <td style="margin: 0.1px; padding: 8px 0px 0px; font: 13px / 16.5px Verdana, Geneva, sans-serif; color: rgb(0, 0, 1); width: 99.7853%; height: 32px;">
                            <table style="border-collapse: collapse;" cellpadding="0">
                              <tbody>
                                <tr>
                                  <td style="margin: 0.1px; padding: 0 4px 0 0; font: 13px/16.5px Verdana, Geneva, sans-serif; color: #000001;">
                                    <a href="https://twitter.com/DrMais_com_br" rel="noopener">
                                      <img style="display: block;" src="https://api.drmais.com.br/public/pessoa_fisica_anexo/48.png" alt="Twitter" width="21">
                                    </a>
                                  </td>
                                  <td style="margin: 0.1px; padding: 0 4px 0 0; font: 13px/16.5px Verdana, Geneva, sans-serif; color: #000001;">
                                    <a href="https://www.facebook.com/DrMais.com.br" rel="noopener">
                                      <img style="display: block;" src="https://api.drmais.com.br/public/pessoa_fisica_anexo/49.png" alt="Facebook" width="21">
                                    </a>
                                  </td>
                                  <td style="margin: 0.1px; padding: 0 4px 0 0; font: 13px/16.5px Verdana, Geneva, sans-serif; color: #000001;">
                                    <a href="https://www.instagram.com/drmais_online/" rel="noopener">
                                      <img style="display: block;" src="https://api.drmais.com.br/public/pessoa_fisica_anexo/50.png" alt="instagram" width="21">
                                    </a>
                                  </td>
                                  <td style="margin: 0.1px; padding: 0 4px 0 0; font: 13px/16.5px Verdana, Geneva, sans-serif; color: #000001;">
                                    <a href="https://www.tiktok.com/@drmaisonline" rel="noopener">
                                      <img style="display: block;" src="https://api.drmais.com.br/public/pessoa_fisica_anexo/51.png" alt="TikTok" width="21">
                                    </a>
                                  </td>
                                  <td style="margin: 0.1px; padding: 0 4px 0 0; font: 13px/16.5px Verdana, Geneva, sans-serif; color: #000001;">
                                    <a href="https://www.youtube.com/@drmais" rel="noopener">
                                      <img style="display: block;" src="https://api.drmais.com.br/public/pessoa_fisica_anexo/52.png" alt="YouTube" width="21">
                                    </a>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
  



          quero uma função em javascripty que pega o horario de acordo com o exibido no computador e fale "bom dia", caso seja entre 06:00 ate as 12:00
          boa tarde das 12:01 ate 17:00, boa noite das 17:01 ate as 5:59 boa noite.